*{
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans Mono", monospace
}

.clear{
    clear: both;
}

#pagina{
    position: static;
}



/* FORMATAÇÃO BARRA DE NAVEGAÇÃO */

#navbar {
    margin-left: 0px;
    position: fixed;
    left: 0px;
    border-bottom: 2px solid black;
    top: 0px;
    height: 80px;
    width: 100%;
    font-size: 22px;
    line-height: 60px;
    float: left;
    z-index: 9998;
    background: white;
}

#navbar #logo {
    float: left;
    position: absolute;
    left: 70px;
}

#navbar .centro ul {
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
}

#navbar .direita ul {
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
}

#navbar .centro li {
    list-style: none;
    float: left;
    position: relative;
    left: 675px;
    text-align: center;
    font-weight: 500;
}

#navbar .direita li {
    list-style: none;
    float: left;
    position: relative;
    left: 1205px;
    text-align: center;
    font-weight: 500;
}

#navbar .centro li a {
    text-decoration: none;
    color: black;
    width: 120px;
    padding: 10px;
    display: block;
}

#navbar .direita li a {
    text-decoration: none;
    color: black;
    width: 120px;
    padding: 10px;
    display: block;
}

#navbar .centro li a:hover {
    color: white;
    background-color: black;
    width: 120px;
}

#navbar .direita li a:hover {
    color: white;
    background-color: black;
    width: 120px;
}

h1{
    text-align: center;
}

h2{
    text-align:left ;
    margin: 40px;

}

#container{
    margin: 40px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

#container2{
    margin: 40px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;

}

#container3{
    margin: 40px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

#texto {
    width: 400px;
    height: 50px;
}

#contato{
    text-align: center;
    margin-top: 20px;
}

#footer {
    background-color: #333; /* Personalize como preferir */
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 1px;
    position: absolute;
    top: 860px;
    width: 100%;
    line-height: 1px;
}

