* {
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans Mono", monospace;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#pagina {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Garante que cobre a tela inteira */
}

#footer {
    background-color: #333;
    /* Personalize como preferir */
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 1px;
    position: absolute;
    top: 2600px;
    width: 100%;
    line-height: 1px;
}



/* FORMATAÇÃO BARRA DE NAVEGAÇÃO */

#navbar {
    margin-left: 0px;
    position: fixed;
    left: 0px;
    border-bottom: 2px solid black;
    top: 0px;
    height: 80px;
    width: 100%;
    font-size: 22px;
    line-height: 60px;
    float: left;
    z-index: 9998;
    background: white;
}

#navbar #logo {
    float: left;
    position: absolute;
    left: 70px;
}

#navbar .centro ul {
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
}

#navbar .direita ul {
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
}

#navbar .centro li {
    list-style: none;
    float: left;
    position: relative;
    left: 675px;
    text-align: center;
    font-weight: 500;
}

#navbar .direita li {
    list-style: none;
    float: left;
    position: relative;
    left: 1205px;
    text-align: center;
    font-weight: 500;
}

#navbar .centro li a {
    text-decoration: none;
    color: black;
    width: 120px;
    padding: 10px;
    display: block;
}

#navbar .direita li a {
    text-decoration: none;
    color: black;
    width: 120px;
    padding: 10px;
    display: block;
}

#navbar .centro li a:hover {
    color: white;
    background-color: black;
    width: 120px;
}

#navbar .direita li a:hover {
    color: white;
    background-color: black;
    width: 120px;
}


body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1e90ff;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.car-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.car-image {
    flex: 1 1 500px;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.details {
    flex: 2 1 400px;
}

.details h2 {
    margin-bottom: 1rem;
}

.details ul {
    list-style-type: none;
}