* {
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans Mono", monospace;
}

#navbar {
    margin-left: 0px;
    position: fixed;
    left: 0px;
    border-bottom: 2px solid black;
    top: 0px;
    height: 80px;
    width: 100%;
    font-size: 22px;
    line-height: 60px;
    float: left;
    z-index: 9998;
    background: white;
}

#navbar #logo {
    float: left;
    position: absolute;
    left: 70px;
}

#navbar .centro ul {
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
}

#navbar .direita ul {
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
}

#navbar .centro li {
    list-style: none;
    float: left;
    position: relative;
    left: 675px;
    text-align: center;
    font-weight: 500;
}

#navbar .direita li {
    list-style: none;
    float: left;
    position: relative;
    left: 1065px;
    text-align: center;
    font-weight: 500;
}

#navbar .centro li a {
    text-decoration: none;
    color: black;
    width: 120px;
    padding: 10px;
    display: block;
}

#navbar .direita li a {
    text-decoration: none;
    color: black;
    width: 120px;
    padding: 10px;
    display: block;
}

#navbar .centro li a:hover {
    color: white;
    background-color: black;
    width: 120px;
}

#navbar .direita li a:hover {
    color: white;
    background-color: black;
    width: 120px;
}

#area-do-meio{
    height:auto;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    align-items: center;
    padding: auto;
}

.postagem{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    height: 1100px;
    width: 75%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin-top: 0px;

}

.postagem .perfil{
    text-align: left;
    padding: 20px;
}

.postagem .imagem-principal{
    width: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.icones{
    display: block;
    height: 150px;
}

.icones h2{
    margin: 10px;
}


